.mainFooter-div{
    position:fixed;
    bottom:0px;
    width: 100%;
}

.footer-div{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div span{
    font-family: sans-serif;
    font-size: small;
}